{% extends "template.twig" %}

{% block title %}home{% endblock %}

{% block main %}
    <div class = "panier container">
      <section class ="macommande">
        <h2>Ma commande</h2>
        <article>
          <img src="{{app.request.basePath}}/img/modeles/1.jpg" alt="">
          <div>
            <p>onespace</p>
            <label for="">Quantité</label>
            <p id="test">hi</p>
            <input type="text" value="">
            <p>75€</p>
          </div>
        </article>
        <article>
          <img src="{{app.request.basePath}}/img/modeles/2.jpg" alt="">
          <div>
          
            <label for="">Quantité</label>
            <input type="text">
            <p>75€</p>
          </div>
        </article>
      </section>
      <aside class = "total">
        <h2>total de ma commande</h2>
        <p>t-shirt 1</p>
        <p>75€</p>
        <p>t-shirt 2</p>
        <p>75€</p>
        <p>total 150€</p>
      </aside>
    </div>
{% endblock %}
